html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

form {
    border: 1px solid #ccc;
    padding: 1rem;
}

input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

form button {
    display: block;
    padding: 0.5rem 1rem;
    background: hsl(120, 56%, 40%);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 5rem;
    margin-left: auto;
}


 header {
    background-color: teal;
    color: black;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
 }

 footer {
    background-color: teal;
    color: white;
    padding: 3px;
    margin-top: 25rem;
    text-align: center;
    
 }

 a {
    text-decoration: none; 
    color: teal; 
}

nav{
    text-align: left;
}

aside{
    width: 200px; 
    height: 100vh; 
    position: absolute; 
    left: 0; 
}

ul{
    list-style-type: none;
    padding: 20px;
    margin: 20px;
    margin-top: 10px;
}

li{
    margin-bottom: 10px;
}
 img{
    width: 20%;
 }

 main{
    flex: 1;
    margin-left:150px;
 }

 img.img {
    float: left; 
    margin-right: 20px; 
}

aside {
        position: static; /* Reset the position to the default */
        height: 20%;
        width: 100%; /* Make the width full for smaller screens */
    }

    nav {
        text-align: center; /* Center the navigation menu on smaller screens */
    }

    nav ul {
        display: flex;
        justify-content: space-between; /* Adjust as needed */
    }
    
    nav li {
        margin-right: 1px; /* Adjust as needed for spacing between list items */
    }
@media (max-width: 600px) {
    aside {
        position: static; /* Reset the position to the default */
        width: 100%; /* Make the width full for smaller screens */
    }

    nav {
        text-align: center; /* Center the navigation menu on smaller screens */
    }
}